<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <h2><a href="/">Go back </a></h2>
    <div class="wrapper">
        <form aciton="/sendMessage/<%`messengerId/receiverId`%>" method="POST">
            <input type="message" name="message" placeholder="Enter message here!">
            <input type="submit" value="Send message"> 
            </form>
    <% jointMessages.map(message => { %>
        <div style="background-color: rgb(192, 192, 236);">
        <p> <strong><%= message.Login.username; %></strong></p>
        <p> Sent at:  <%= message.createdAt; %> </p>
        <p style ="border:solid"><%= message.Text %></p>
    </div>

    <% }) %>
    
</div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>