<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=#, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Login</title>
</head>
<body>
    <%- include('./partials/Header.ejs') %>
    <h1>Login to your messenger here!</h1> <hr>
    <form action="/Login/new" method="POST">
    <h4>Enter username</h2>
    <input type="username" name="username" placeholder="Enter username"><br>
    <h4>Enter password</h4>
    <input type="password" name="password" placeholder="Enter password">
    <h4>Enter email</h4>
    <input type="email" name="email" placeholder="Enter email"><hr>
    <input type="submit" value="Register">
    </form><br>
    <%- include('./partials/footer.ejs') %>
</body>
</html>